In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv("/content/car_price_dataset.csv")
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [27]:
# 1. What is the average price of all cars in the dataset?

a = df["Price"].mean()
print(f"What is the average price of all cars in the dataset: {a}")

What is the average price of all cars in the dataset: 8852.9644

In [28]:
# 2. Which car brand has the highest average price?

a = df.groupby("Brand")["Price"].mean().idxmax()
print(f" Which car brand has the highest average price: {a}")

 Which car brand has the highest average price: Chevrolet

In [29]:
# 3. What is the most common fuel type in the dataset?

name = df["Fuel_Type"].value_counts().idxmax()
print(f"What is the most common fuel type in the dataset: {a}")

What is the most common fuel type in the dataset: Chevrolet

In [30]:
# 4. How many cars have a mileage greater than 200,000?

a = len(df[df["Mileage"] > 200000])
print(f"How many cars have a mileage greater than 200,000: {a}")

How many cars have a mileage greater than 200,000: 3290

In [31]:
# 5.What is the distribution of cars by transmission type?

a = df["Transmission"].value_counts()
print(f"The transmission types are: {a}")

The transmission types are: Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [32]:
# 6.Which car model has the highest price?

a = df.groupby('Model')['Price'].max().idxmax()
print(f"Which car model has the highest price: {a}")

Which car model has the highest price: Corolla

In [33]:
# 7. What is the average price of cars by fuel type?

a = df.groupby("Fuel_Type")["Price"].mean()
print(f"What is the average price of cars by fuel type: {a}")

What is the average price of cars by fuel type: Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [34]:
# 8. How many cars are from the year 2020 or later?

a = len(df[df["Year"] >= 2020])
print(f"How many cars are from the year 2020 or later: {a}")

How many cars are from the year 2020 or later: 1651

In [35]:
# 9. What is the average engine size for each brand?

a = df.groupby("Brand")["Engine_Size"].mean()
print(f"What is the average engine size for each brand: {a}")

What is the average engine size for each brand: Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [36]:
# 10. Which car has the lowest mileage?

a = df.groupby("Brand")["Mileage"].min().idxmin()
print(f"Which car has the lowest mileage: {a}")

Which car has the lowest mileage: Ford

In [37]:
# 11. What is the correlation between mileage and price?

correlation = df['Mileage'].corr(df['Price'])
print(f"Correlation between Mileage and Price: {correlation}")

Correlation between Mileage and Price: -0.5512271827629014

In [38]:
# 12. How many cars have more than 2 owners?

a = len(df[df["Owner_Count"] > 2])
print(f"How many cars have more than 2 owners: {a}")

How many cars have more than 2 owners: 5944

In [39]:
# 13. What is the average price of cars by year?

a = df.groupby("Year")["Price"].mean()
print(f"What is the average price of cars by year: {a}")

What is the average price of cars by year: Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

In [40]:
# 14. Which car has the highest number of doors?

a = df.groupby("Brand")["Doors"].max().idxmax()
print(f" Which car has the highest number of doors: {a}")

 Which car has the highest number of doors: Audi

In [41]:
# 15. What is the average mileage for each fuel type?

a = df.groupby("Fuel_Type")["Mileage"].mean()
print(f"What is the average mileage for each fuel type: {a}")

What is the average mileage for each fuel type: Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [42]:
# 16. How many cars are from the brand 'Toyota'?

a = len(df[df["Brand"] == "Toyota"])
print(f"How many cars are from the brand 'Toyota': {a}")

How many cars are from the brand 'Toyota': 970

In [43]:
# 17. What is the average price of cars with automatic transmission?

a = df.groupby("Transmission")["Price"].mean()
print(f"What is the average price of cars with automatic transmission: {a}")

What is the average price of cars with automatic transmission: Transmission
Automatic         9938.252939
Manual            8363.426157
Semi-Automatic    8264.266385
Name: Price, dtype: float64

In [44]:
# 18. Which car has the highest owner count?

a = df.groupby("Brand")["Owner_Count"].max().idxmax()
print(f"Which car has the highest owner count: {a}")

Which car has the highest owner count: Audi

In [45]:
# 19. What is the average engine size for cars with diesel fuel type?

a = df[df["Fuel_Type"] == "Diesel"]["Engine_Size"].mean()
print(f"What is the average engine size for cars with diesel fuel type: {a}")

What is the average engine size for cars with diesel fuel type: 3.011863057324841

In [46]:
# 20. How many cars have a price greater than $10,000?

a = len(df[df["Price"] > 10000])
print(f" How many cars have a price greater than $10,000: {a}")

 How many cars have a price greater than $10,000: 3651